body {
    margin: 0;
    padding: 0;

    font-size: 20px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-align: center;

    background-color: #312785;
    background-image:
        repeating-linear-gradient(150deg,
            rgba(255, 255, 255, 0.06),
            rgba(255, 255, 255, 0.06) 1px,
            transparent 0,
            transparent 41px),
        repeating-linear-gradient(-150deg,
            rgba(255, 255, 255, 0.06),
            rgba(255, 255, 255, 0.06) 1px,
            transparent 0,
            transparent 41px);

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

main {
    padding: 50px 20px;
}

h1 {
    margin-bottom: 20px;
    font-weight: normal;
    letter-spacing: -1px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 22px;
}

a:hover {
    text-decoration: none;
}
